<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Drop Off</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link type="text/css" rel="stylesheet" href="../static/waitMe.css">
  </head>
  <body id="htmlpage">
      
       <header>
         <div class="container-fluid">
          {% if session['user'] %}
              <a href="/logout" class="logout_bnt_section">
              Logout {{ session['user'] }}<img src="../static/logout.png" alt="logout" class="logout_header_img">
          </a>
          {% endif %}
         </div>
      </header>
      
    <div class="main_home_section_ticket">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="section_ticket_section">
              <div class="ticket_section_header">
                <h4>Drop Off</h4>
                <button>X</button>
              </div>
              <!-- ticket_section_header -->
              <div class="ticket_section_body">
                <form method="POST">
                  <fieldset>
                    <legend>Batch Temperatures</legend>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Batch ID </label>
                          <div class="col-md-7">
                            <select name="drop_id" id="dropdown" required>
                              <option disabled selected value="NULL"> -- select an option -- </option>
                              {% for client in drop %} -->
                                <option value={{client}}>{{ client[0] }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- 6 -->
                      <div class="col-md-12 mb-4 text-end">
                        <div class="row">
                          <div class="col-md-12">
                            <button
                              id="submitbtn"
                              type="submit"
                              class="cancel_reset_entry0120 background_btn_3"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- 7 -->
                    </div>
                  </fieldset>
                </form>
                <div class="footer_Sectoin_area_list0003">
                  <img src="../static/footer_icons.png" class="foot_icons" alt="img" />
                </div>
              </div>
              <!-- ticket_section_body -->
            </div>
            <!-- end ticket section-->
          </div>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="../static/waitMe.js"></script> 
    <script>
      $(function(){
      // none, bounce, rotateplane, stretch, orbit, 
      // roundBounce, win8, win8_linear or ios
      var current_effect = 'win8_linear'; // 
      

      $('#submitbtn').click(function(){
      if (document.getElementById("dropdown").value === "NULL") {
        alert("Please select batch to dropoff.");
      }
      else {
        run_waitMe(current_effect);
        
      }
    });
      
      function run_waitMe(effect){
      $('#htmlpage').waitMe({
      effect: 'win8_linear',

      //place text under the effect (string).
      text: 'Please Wait...',
      
      //background for container (string).
      bg: 'rgba(255,255,255,0.7)',
      
      //color for background animation and text (string).
      color: '#123',
      
      //max size
      maxSize: '8',
      
      //wait time im ms to close
      waitTime: -1,
      
      //url to image
      source: '',
      
      //or 'horizontal'
      textPos: 'vertical',
      
      //font size
      fontSize: '8',
      
      // callback
      onClose: function() {}
      
      });
      }
        
      });
      </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
