<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cylinder Quantities</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
      
       <header>
         <div class="container-fluid">
              <a href="index.html" class="logout_bnt_section">
              Logout <img src="../static/logout.png" alt="logout" class="logout_header_img">
          </a>
         </div>
      </header>
      
    <div class="main_home_section_ticket">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="section_ticket_section">
              <div class="ticket_section_header">
                <h4>Cylinder Quantities</h4>
                <button>X</button>
              </div>
              <!-- ticket_section_header -->
              <div class="ticket_section_body">
                <form>
                  <fieldset>
                    <legend>Number of Cylinders</legend>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row mb-3">
                          <div class="col-md-3">Designation</div>
                          <div class="col-md-3">Quantity</div>
                          <div class="col-md-3">Time</div>
                          <div class="col-md-3">Early Break</div>
                        </div>
                        <!-- A -->
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <p class="designation_title_a">A</p>
                          </div>
                          <div class="col-md-3">
                            <select required>
                              <option>7</option>
                              <option>14</option>
                              <option>28</option>
                              <option>56</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <input type="time" name="" id="" />
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" class="checkox_input_255" />
                          </div>
                        </div>
                        <!-- A-->
                        <!-- B -->
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <p class="designation_title_a">B</p>
                          </div>
                          <div class="col-md-3">
                            <select required>
                              <option>7</option>
                              <option>14</option>
                              <option>28</option>
                              <option>56</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <input type="time" name="" id="" />
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" class="checkox_input_255" />
                          </div>
                        </div>
                        <!-- B -->
                        <!-- C -->
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <p class="designation_title_a">C</p>
                          </div>
                          <div class="col-md-3">
                            <select required>
                              <option>7</option>
                              <option>14</option>
                              <option>28</option>
                              <option>56</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <input type="time" name="" id="" />
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" class="checkox_input_255" />
                          </div>
                        </div>
                        <!-- C -->
                        <!-- D -->
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <p class="designation_title_a">D</p>
                          </div>
                          <div class="col-md-3">
                            <select required>
                              <option>7</option>
                              <option>14</option>
                              <option>28</option>
                              <option>56</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <input type="time" name="" id="" />
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" class="checkox_input_255" />
                          </div>
                        </div>
                        <!-- D -->
                        <!-- E -->
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <p class="designation_title_a">E</p>
                          </div>
                          <div class="col-md-3">
                            <select required>
                              <option>7</option>
                              <option>14</option>
                              <option>28</option>
                              <option>56</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <input type="time" name="" id="" />
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" class="checkox_input_255" />
                          </div>
                        </div>
                        <!-- E -->
                        <!-- F -->
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <p class="designation_title_a">F</p>
                          </div>
                          <div class="col-md-3">
                            <select required>
                              <option>7</option>
                              <option>14</option>
                              <option>28</option>
                              <option>56</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <input type="time" name="" id="" />
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" class="checkox_input_255" />
                          </div>
                        </div>
                        <!-- F -->
                      </div>
                      <div class="col-md-3 mt-5">
                        <p class="right_peragraph_section564879876465">
                          Please Check if you sould like to submit a not with
                          this entry
                          <input
                            type="checkbox"
                            class="checkbox_input_entry"
                            required
                          />
                        </p>
                        <button
                          type="submit"
                          class="sendnotes_btn_resect_ticket0022135465465"
                        >
                          Reset
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </form>
                <div class="footer_Sectoin_area_list0003">
                  <img src="../static/footer_icons.png" class="foot_icons" alt="img" />
                </div>
              </div>
              <!-- ticket_section_body -->
            </div>
            <!-- end ticket section-->
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
