<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cylinder Analysis</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link type="text/css" rel="stylesheet" href="../static/waitMe.css">
  </head>
  <body id="htmlpage">
      
       <header>
         <div class="container-fluid">
          {% if session['user'] %}
              <a href="/logout" class="logout_bnt_section">
              Logout {{ session['user'] }}<img src="../static/logout.png" alt="logout" class="logout_header_img">
          </a>
          {% endif %}
         </div>
      </header>
      
    <div class="main_home_section_ticket">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section_ticket_section">
              <div class="ticket_section_header">
                <h4>Cylinder Analysis</h4>
                <button>X</button>
              </div>
              <!-- ticket_section_header -->
              <form method="POST" id="caform" name="caform">
              <div class="ticket_section_body">
                  <fieldset>
                    <legend>Enter Details</legend>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Batch ID </label>
                          <div class="col-md-7">
                            <select name="bid_ca" id="bid_ca" tabindex="2" data-noreset="true" required>
                              <option disabled selected value> -- select an option -- </option>
                              {% for client in bid_cax %} -->
                                <option value={{client}}>{{ client[0] }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- 1 -->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Diameter (0.1 mm) </label>
                          <div class="col-md-7">
                            <input type="number" name="dia" min="95" max="155" step="0.1" tabindex="4" id="dia" required />
                          </div>
                        </div>
                      </div>
                      <!-- 6 -->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <label class="col-md-5"> SAFFA Designation </label>
                          <div class="col-md-7">
                            <select name="sid_ca" id="sid_ca" tabindex="1" required>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- 4 -->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Height (0.1 mm) </label>
                          <div class="col-md-7">
                            <input type="number" name="height" min="195" max="305" step="0.1" tabindex="5" id="height" required />
                          </div>
                        </div>
                      </div>
                      <!-- 5 -->
                      <!-- 3 -->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Weight (gr) </label>
                          <div class="col-md-7">
                            <input type="number" name="weight" min="1450" max="3600" step="0.1" tabindex="3" id="weight" required />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3 text-end">
                        <div class="row">
                          <div class="col-md-12">
                            <button
                              type="submit"
                              id="submitbtn"
                              class="cancel_reset_entry0120 background_btn_3"
                            >
                              Save
                            </button>
                            <button
                              type="button"
                              onclick="customReset()"
                              class="cancel_reset_entry0120 background_btn_1"
                            >
                              Reset
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- 7 -->
                    </div>
                    <!-- end input row -->
                  </fieldset>
                  <!-- end ticket section-->
              </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    document.getElementById('bid_ca').onchange = function() {
        var bid_ca = this.value;

        $.ajax({
            type: 'POST',
            data: JSON.stringify({
                'bid_ca': bid_ca,
            }),
            contentType: 'application/json; charset=utf-8',
            url: "{{ url_for('sid_list') }}",
            success: function(data) {
              $("#sid_ca").empty();
              for (var i = 0; i < data.length; i++) {
                $("#sid_ca").append('<option>' + data[i] + '</option>');
              }
            }
        });
    }
    </script>
    <script>
    function customReset()
    {
        var fieldsToReset = document.querySelectorAll("input:not([data-noreset='true'])")
      for(var i=0;i<fieldsToReset.length;i++){
        fieldsToReset[i].value = null;
      }
      
    }
    </script>
    <script>
      function validate() {
        var bca = document.getElementById("bid_ca");
        var sca = document.getElementById("sid_ca");
        var hca = document.getElementById("height");
        var wca = document.getElementById("weight");
        var dca = document.getElementById("dia");

        if (bca.value != '' && sca.value != '' && 195 <= hca.value && hca.value <= 305 && 1450 <= wca.value && wca.value <= 3600 && 95 <= dca.value && dca.value <= 155){
          return true
        }
        return false
      }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="../static/waitMe.js"></script> 
    <script type="text/javascript">
      $(document).on('submit','#caform',function(e)
                     {
        console.log('hello');
        e.preventDefault();
        $.ajax({
          type:'POST',
          url:'/cylinder-analysis/',
          data:{
            sid:$("#sid_ca").val(),
            height:$("#height").val(),
            weight:$("#weight").val(),
            dia:$("#dia").val()
          },
          success:function()
          {
            alert('saved');
          }
        })
      });
    </script>
    <script>
      $(function(){
      // none, bounce, rotateplane, stretch, orbit, 
      // roundBounce, win8, win8_linear or ios
      var current_effect = 'win8_linear'; // 
      


      // $('#submitbtn').click(function(){
      //       if (validate()) {
      //         run_waitMe(current_effect);
      //       }
      //   });
      
      function run_waitMe(effect){
      $('#htmlpage').waitMe({
      effect: 'win8_linear',

      //place text under the effect (string).
      text: 'Please Wait...',
      
      //background for container (string).
      bg: 'rgba(255,255,255,0.7)',
      
      //color for background animation and text (string).
      color: '#123',
      
      //max size
      maxSize: '8',
      
      //wait time im ms to close
      waitTime: -1,
      
      //url to image
      source: '',
      
      //or 'horizontal'
      textPos: 'vertical',
      
      //font size
      fontSize: '8',
      
      // callback
      onClose: function() {}
      
      });
      }
        
      });
      </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
