<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <select name="testdd">
            <option>0</option>
            <option>7</option>
            <option>14</option>
            <option>28</option>
            <option>56</option>
          </select>
        <button type="submit" value="submit">click me</button>
    </form>
</body>
</html>