<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ticket</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <style>
        .sbmtbtn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 30px 0;
}
    </style>
  </head>
  <body>
       <header>
         <div class="container-fluid">
              <a href="index.html" class="logout_bnt_section">
              Logout <img src="../static/logout.png" alt="logout" class="logout_header_img">
          </a>
         </div>
      </header>
      
    <div class="main_home_section_ticket">
      <!-- Start top section part 1-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section_ticket_section">
              <div class="ticket_section_header">
                <h4>Ticket</h4>
                <button>X</button>
              </div>
              <!-- ticket_section_header -->
              <div class="ticket_section_body">
                <form method="POST" id="main">
                  <fieldset>
                    <legend>Data:</legend>
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Client </label>
                          <div class="col-md-7">
                            <!-- <input type="text" name="client" id="" name="batch_id"> -->
                            <select name="client" id="">
                              {% for client in value %} -->
                                <option value={{client}}>{{ client[0] }}</option>
                              {% endfor %}
                                <!-- <option value="clients">{{ clients }}</option> -->
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- 1 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Mix ID # </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="20" name="mix" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 2 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Ticket Number </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="15" name="ticket" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 3 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Site Address </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="150" name="address" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 4 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Load No. </label>
                          <div class="col-md-7">
                            <input type="number" min="0" maxlength="4" name="load" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 5 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5">
                            Nominal Size of Agg (mm)
                          </label>
                          <div class="col-md-7">
                            <input type="number" min="0" maxlength="4" name="agg" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 6 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5">
                            Structure & Gridlines
                          </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="150" name="gridlines" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 7 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Specified Slump (mm) </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="7" name="spec_sl" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 8 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Concrete Supplier </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="50" name="conc_sup" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 9 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Time of Charge </label>
                          <div class="col-md-7">
                            <input type="time" name="toc" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 10 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5">
                            Subclient / Contractor
                          </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="50" name="subclient" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 11 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Measured Slump (mm) </label>
                          <div class="col-md-7">
                            <input type="number" min="0" max="200" name="meas_sl" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 12 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Specified Air (%) </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="5" name="spec_air" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 13 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Casting Time </label>
                          <div class="col-md-7">
                            <input type="time" name="cast_time" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 14 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5">
                            Specified Strength MPa (28 Days)
                          </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="10" name="spec_str" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 15 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5">
                            Type of Mould (ie 4x8)
                          </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="9" name="mould" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 16 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Measured Air (%) </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="4" name="meas_air" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 17 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Concrete Temp (°C) </label>
                          <div class="col-md-7">
                            <input type="number" min="0" max="50" step="0.1" name="conc_temp" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 18 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Casted By </label>
                          <div class="col-md-7">
                            <input type="text" maxlength="25" name="cast_by" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 19 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Truck No </label>
                          <div class="col-md-7">
                            <input type="number" name="truck_no" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 20 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5"> Ambient Temp (°C) </label>
                          <div class="col-md-7">
                            <input type="number" max="60" step="0.1" name="amb_temp" required/>
                          </div>
                        </div>
                      </div>
                      <!-- 21 -->
                      <div class="col-md-4 mb-3">
                        <div class="row">
                          <label class="col-md-5">
                            Initial Curing Temperature (°C)</label
                          >
                          <div class="col-md-4">
                            <input
                              type="number"
                              placeholder="Min"
                              name="min_temp"
                              min="0"
                              max="50"
                              step="0.1"
                              required
                            />
                          </div>
                          <div class="col-md-3">
                            <input
                              type="number"
                              placeholder="Max"
                              name="max_temp"
                              min="0"
                              max="50"
                              step="0.1"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <!-- 22 -->
                    </div>
                    <!-- end input row -->
                    <div class="row mt-3 mb-3">
                      <div class="col-md-6 text-start">
                        <img
                          src="../static/footer_icons.png"
                          class="foot_icons"
                          alt="img"
                        />
                      </div>
                    </div>
                  </fieldset>
              </div>
              <!-- ticket_section_body -->
            </div>
            <!-- end ticket section-->
          </div>
        </div>
      </div>
      <!-- End top section part 1-->
      <br />
      <!-- Start Notes 3 -->
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="section_ticket_section">
              <div class="ticket_section_header">
                <h4>Cylinder Quantities</h4>
                <button>X</button>
              </div>
              <!-- ticket_section_header -->
              <div class="ticket_section_body" id="set_ction_mobile_listy_number231321">
                  <fieldset>
                    <legend>Number of Cylinders</legend>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="table-responsive">
                            <table>
                                
                                <tr class="table_ticket_bottom_head">
                                  <th>Designation</th>
                                  <th>Days</th>
                                  <th>Quantity (# Cylinders)</th>
                                  <th>Early Break</th>
                                </tr>
                                <!-- A -->
                                <tr class="table_ticket_bottom_body">
                                  <td>
                                    <p class="designation_title_a">A</p>
                                  </td>
                                  <td>
                                    <div class="custom_input_selectA">
                                      <select name="d1" id="d1" required class="input_custom001">
                                        <option selected></option>
                                        <option>7</option>
                                        <option>14</option>
                                        <option>28</option>
                                        <option>56</option>
                                      </select>
                                      <input type="text" name="eb1" id="eb1" class="input_custom002x" disabled required/>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" name="q1" id="" class="input_custom002" required/>
                                  </td>
                                  <td>
                                    <input
                                      name="cb1"
                                      type="checkbox"
                                      id="openSetA"
                                      class="checkox_input_255"
                                      onclick="cd1('d1', 'eb1')"
                                    />
                                  </td>
                                </tr>
                                <!-- A-->
                                <!-- B -->
                                <tr class="table_ticket_bottom_body">
                                  <td>
                                    <p class="designation_title_a">B</p>
                                  </td>
                                  <td>
                                    <div class="custom_input_selectB">
                                      <select name="d2" id="d2" class="input_custom001">
                                         <option selected></option>
                                        <option>7</option>
                                        <option>14</option>
                                        <option>28</option>
                                        <option>56</option>
                                      </select>
                                      <input type="text" name="eb2" id="eb2" class="input_custom002x" disabled/>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" name="q2" id="q2" class="input_custom002" />
                                  </td>
                                  <td>
                                    <input
                                      type="checkbox"
                                      class="checkox_input_255"
                                      id="openSetB"
                                      onclick="cd1('d2', 'eb2')"
                                    />
                                  </td>
                                </tr>
                                <!-- B -->
                                <!-- C -->
                                <tr class="table_ticket_bottom_body">
                                  <td>
                                    <p class="designation_title_a">C</p>
                                  </td>
                                  <td>
                                    <div class="custom_input_selectC">
                                      <select name="d3" id="d3" class="input_custom001">
                                        <option selected></option>
                                        <option>7</option>
                                        <option>14</option>
                                        <option>28</option>
                                        <option>56</option>
                                      </select>
                                      <input type="text" name="eb3" id="eb3" class="input_custom002x" disabled/>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" name="q3" id="q3" class="input_custom002" />
                                  </td>
                                  <td>
                                    <input
                                      type="checkbox"
                                      class="checkox_input_255"
                                      id="openSetC"
                                      onclick="cd1('d3', 'eb3')"
                                    />
                                  </td>
                                </tr>
                                <!-- C -->
                                <!-- D -->
                                <tr class="table_ticket_bottom_body">
                                  <td>
                                    <p class="designation_title_a">D</p>
                                  </td>
                                  <td>
                                    <div class="custom_input_selectD">
                                      <select name="d4" id="d4" class="input_custom001">
                                        <option selected></option>
                                        <option>7</option>
                                        <option>14</option>
                                        <option>28</option>
                                        <option>56</option>
                                      </select>
                                      <input type="text" name="eb4" id="eb4" class="input_custom002x" disabled/>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" name="q4" id="q4" class="input_custom002" />
                                  </td>
                                  <td>
                                    <input
                                      type="checkbox"
                                      class="checkox_input_255"
                                      id="openSetD"
                                      onclick="cd1('d4', 'eb4')"
                                    />
                                  </td>
                                </tr>
                                <!-- D -->
                                <!-- E -->
                                <tr class="table_ticket_bottom_body">
                                  <td>
                                    <p class="designation_title_a">E</p>
                                  </td>
                                  <td>
                                    <div class="custom_input_selectE">
                                      <select name="d5" id="d5" class="input_custom001">
                                         <option selected></option>
                                        <option>7</option>
                                        <option>14</option>
                                        <option>28</option>
                                        <option>56</option>
                                      </select>
                                      <input type="text" name="eb5" id="eb5" class="input_custom002x" disabled/>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" name="q5" id="q5" class="input_custom002" />
                                  </td>
                                  <td>
                                    <input
                                      type="checkbox"
                                      class="checkox_input_255"
                                      id="openSetE"
                                      onclick="cd1('d5', 'eb5')"
                                    />
                                  </td>
                                </tr>
                                <!-- E -->
                                <!-- F -->
                                <tr class="table_ticket_bottom_body">
                                  <td>
                                    <p class="designation_title_a">F</p>
                                  </td>
                                  <td>
                                    <div class="custom_input_selectF">
                                      <select name="d6" id="d6" class="input_custom001">
                                        <option selected></option>
                                        <option>7</option>
                                        <option>14</option>
                                        <option>28</option>
                                        <option>56</option>
                                      </select>
                                      <input type="text" name="eb6" id="eb6" class="input_custom002x" disabled/>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" name="q6" id="q6" class="input_custom002" />
                                  </td>
                                  <td>
                                    <input
                                      type="checkbox"
                                      class="checkox_input_255"
                                      id="openSetF"
                                      onclick="cd1('d6', 'eb6')"
                                    />
                                  </td>
                                </tr>
                                <!-- F -->
                            </table>
                        </div>
                      </div>
                      <!-- left -->
                    </div>
                  </fieldset>
                <div class="footer_Sectoin_area_list0003">
                  <img src="../static/footer_icons.png" class="foot_icons" alt="img" />
                </div>
              </div>
              <!-- ticket_section_body -->
            </div>
            <!-- end ticket section-->
          </div>
          <div class="col-md-5">
            <div class="section_ticket_section section_ticket_sectionR">
              <div class="ticket_section_header">
                <h4>Notes</h4>
                <button>X</button>
              </div>
              <!-- ticket_section_header -->
              <div class="ticket_section_body bottom_section_gray001">
                  <fieldset>
                    <legend>Send Note</legend>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="row">
                          <label class="col-md-12"> Notes </label>
                          <div class="col-md-12">
                            <textarea
                              class="notes_text_area__text001"
                              name="note_text"
                              placeholder="Optional"
                              form="main"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                
                
                <div class="footer_Sectoin_area_list0003">
                  <img src="../static/footer_icons.png" class="foot_icons" alt="img" />
                </div>
              </div>
              <!-- ticket_section_body -->
            </div>
            <!-- end ticket section-->
           
             
          </div>
          
             <div class="sbmtbtn"> 
            <button
                          type="reset"
                          class="sendnotes_btn_reset_ticket00_submit001"
                        >
                          Reset
                        </button>
            <button
                          type="submit"
                          class="sendnotes_btn_resect_ticket00_submit001"
                          onclick="enable_caller()"
                        >
                          Submit
                        </button>
                        </div>
                  
        </div>
      </div>
      <!-- End Notes 3 -->
    </div>
                </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      function cd1(d_var, eb_var) {
        if(document.getElementById(d_var).disabled === true) {
          document.getElementById(d_var).disabled = false;
          document.getElementById(eb_var).disabled = true;
          document.getElementById(eb_var).value = "";
          document.getElementById(eb_var).style.backgroundColor = "grey";


        }
        else {
          document.getElementById(d_var).disabled = true;
          document.getElementById(eb_var).disabled = false;
          document.getElementById(d_var).value = "0";
          document.getElementById(eb_var).style.backgroundColor = "white";

        }
      }
    </script>
    <script>
      function enable_caller() {
          enabletxt('d2', 'eb2', 'q2');
          enabletxt('d3', 'eb3', 'q3');
          enabletxt('d4', 'eb4', 'q4');
          enabletxt('d5', 'eb5', 'q5');
          enabletxt('d6', 'eb6', 'q6');
      }
    </script>
    <script>
      function enabletxt(day, cday, quant) {
        if(document.getElementById(quant).value != "") {
          document.getElementById(cday).setAttribute('required','required');
          document.getElementById(day).setAttribute('required','required');
        }
        else if(document.getElementById(day).value != "" || document.getElementById(cday).value != "") {
          document.getElementById(quant).setAttribute('required','required');
        }
        else {
          document.getElementById(cday).removeAttribute('required');
          document.getElementById(day).removeAttribute('required');
          document.getElementById(quant).removeAttribute('required');
        }
      }
      </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
